<h1>Questions ask</h1>

<hr>
<p>Hi I am your stupid coach, what do you want ?</p>
<hr>

<form action="/answer" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
