<!DOCTYPE html>
<html>
  <head>
    <title>RailsStupidCoaching</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div class="navbar" style="color: white; text-align:center; background-color: #969492; width: 100vw;display: flex; align-items:center; justify-content: center">
      <h2>This is a simple Navbar</>
    </div>

    <%= yield %>

    <div class="navbar" style="margin: 30px 0; color: white; text-align:center; background-color: #1d1f21; height: 50px; width: 100vw; display: flex; align-items:center; justify-content: center ">
      <p>This is a simple Footer</p>
    </div>

  </body>
</html>
